
 <div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="100%" [src]="productitem.imageUrl">

    <div class="card-body">
      <strong>₹ {{productitem.price}}</strong>
      <p class="card-text">{{productitem.describtion}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="submit" class="btn btn-sm btn-outline-primary" (click)="handleAddToCart(productitem)"routerLink="/cart" >Add to Cart</button>
          
        </div>
        
      </div>
    </div>
   
   