<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h1>ShoppingCart</h1>
<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
  <a class="me-3 py-2 text-dark text-decoration-none" href="#" [routerLink]="['/home']"><h6>Home</h6></a>

    <a class="me-3 py-2 text-dark text-decoration-none" href="#" [routerLink]="['/shop']"><h6>Product List</h6></a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#" [routerLink]="['/cart']"><h6> My Cart</h6></a>
  </nav>
  
    
  <a class="submit" class="btn btn-primary" routerLink="/register" href="">Sign Up</a>

  <a class="submit" class="ml-2 btn btn-outline-secondary"  href="" routerLink="/login">Login</a>
  

  <br>
  <br>
  <br>

</div>